<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFA TRENDS - Your Shopping Stop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <%- include("partials/header.ejs") %>

    <%- include("partials/hero.ejs") %>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f6.png" alt="">
            <h6>27/7 Support</h6>
        </div>
    </section>

    <%- include("partials/featuredProducts.ejs") %>

    <section id="banner" class="section-m1">
        <h4>Repair service</h4>
        <h2>Up to <span>70% off</span> - All T-shirts & Accessories.</h2>
        <button class="normal">Explore More</button>
    </section>            
           
    <%- include("partials/newArrivals.ejs") %>
                
    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crezy deals</h4>
            <h2>buy 1 get 1 free </h2>
            <span>The best classic dress is on sale at IFA TRENDS</span>
            <button class="white">Learn More</button>
        </div>

        <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>upcomming season</h2>
            <span>The best classic dress is on sale at IFA TRENDS</span>
            <button class="white">Collection</button>
        </div>
    </section>
                
    <section id="banner3">
        <div class="banner-box">
            <h2>SEASON SALE</h2>
            <h3>Winter collection 50% off</h3>
        </div>

        <div class="banner-box banner-box2">
            <h2>NEW FOOTWEAR COLLECTION</h2>
            <h3>Spring / Summer 2024</h3>
        </div>

        <div class="banner-box banner-box3">
            <h2>T-SHIRTS</h2>
            <h3>New Trendy Prints</h3>
        </div>
    </section>
                   
    <%- include("partials/footer.ejs") %>

    <script src="https://kit.fontawesome.com/2fbecefd14.js" crossorigin="anonymous"></script>
    <script src="homepageScript.js"></script>
                                        
</body>

</html>